

<br>
<div style="padding-left: 85%">
  <button  type="button" class="btn btn-success" (click)="savefile()" style="text-align: right; background-color: steelblue">Impute</button>

</div>
<h2 class="c1">Upload the file for imputation (.csv) </h2>


  <div id="c1">

    <Ngx-CSVtoJSON (onConvert)="convert($event)" (onFail)="onError($event)"></Ngx-CSVtoJSON><br>






  </div>
<p *ngIf="analysis && flag4" style="padding-left: 34%; font-size: x-large">The uploaded time series has&nbsp;<span style="font-weight: bold">{{analysis.type}}</span></p>
<p *ngIf="analysis && flag5" style="padding-left: 34%; font-size: x-large">The uploaded time series has&nbsp;<span style="font-weight: bold">chunks</span></p>
<br>
<p *ngIf="analysis && flag5" class="v1">Upload a complete similar time series (.csv)</p>
<div id="c1">
<Ngx-CSVtoJSON (onConvert)="convert2($event)" (onFail)="onError($event)" *ngIf="analysis && flag5"></Ngx-CSVtoJSON><br>
</div>

<p *ngIf="f" style="color: red; font-weight: bold;display:inline-block; align-content: center; padding-left: 15%">The uploaded file is incomplete</p>

<mat-progress-spinner *ngIf="flag3" mode="indeterminate"  style="display:inline-block; align-content: center; padding-left: 15%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</mat-progress-spinner>

  <script src="node_modules/chart.js/dist/Chart.js"></script>

    <app-line-chart  *ngIf="flag && arr">

    </app-line-chart>



    <app-line-chart2 *ngIf="finalimputed && flag2"  >

    </app-line-chart2>


    <p style="padding-top: 14cm;padding-left: 80%">
    <button *ngIf="finalimputed && flag2"  type="button" class="btn btn-success" style="background-color: steelblue" (click)="download()">Download Imputed File</button>
    </p>






