h2.c1
{
  display: block;
  text-align: center;
  font-family: "Times New Roman";
  font-size: 30px;
  font-style: normal;
  clear: both;

}
p.v1{
  display: block;
  text-align: center;
  font-family: "Times New Roman";
  font-size: 30px;
  font-style: normal;
  clear: both;
}
#c1{
  float: top;
  padding-left: 40%;
  padding-right: 40%;
  text-align: center;
}



