
<div id="wrapper"><br>

  <div id="c1">
    <h5 style="font-size: 30px">Upload csv file here </h5>
    <Ngx-CSVtoJSON (onConvert)="convert($event)" (onFail)="onError($event)"></Ngx-CSVtoJSON><br>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
      <label class="form-check-label" for="exampleRadios1">
        Multivariate
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
      <label class="form-check-label" for="exampleRadios2">
        Univariate
      </label><br><br>
      <p style="padding-bottom: 1%">
        <button *ngIf="flag" type="button" class="btn btn-success" (click)="savefile()">Impute</button>
      </p>

      <br>
      <mat-progress-spinner *ngIf="flag3" mode="indeterminate"  style="display:inline-block;background-color:lightgoldenrodyellow; align-content: center"></mat-progress-spinner>


    </div>

  </div>
  <script src="node_modules/chart.js/dist/Chart.js"></script>

    <app-line-chart  *ngIf="flag && arr">

    </app-line-chart>



    <app-line-chart2 *ngIf="finalimputed && flag2"  >

    </app-line-chart2>

    <p style="padding-top: 14cm">
    <button *ngIf="finalimputed && flag2"  type="button" class="btn btn-success" (click)="download()">Download Imputed File</button>
    </p>






</div>

