
<p class="a">
  Warm thanks for the CPAMI researchers who have developed the current portal, which is the outcome of a number of Master and Doctoral theses. The researchers who contributed to the design and implementation of the web application are credited here:
<br>
  <b><u>Analysis and Design:</u></b>
  <br>Lobna Nassar, Mohita Chaudhary, Mohamed Sadok, Muhammad Saad, Fatemeh Jafari
<br>

  <b><u>Implementation:</u></b>
  <br>

  The front-end or interface developed by Mohita Chaudhary using Angular CLI which includes HTML, CSS and TypeScript
<br>
  The back end is developed by:
  <br>
  Mohita Chaudhary: integrated system modules with front end and developed forecasting submodules based on station based & combined data using Python and Flask Framework  <br>
  Mohamed Sadok: developed forecasting submodules based on satellite images and combined data using Python
  <br>
  Fatemeh Jafari: developed FP similarity module using Python
 <br>
  Muhammad Saad: developed Imputation module using Python
<br>
  <br>
  For additional information on the project, its members or its sponsors, please contact the project’s principal investigator Fakhri Karray at <a href="mailto:karray@uwaterloo.ca">karray@uwaterloo.ca</a>

</p>


