

h1{
  color: black;
  font-size: 50px;
  text-align: center;

}
p{
  color: black;
  text-align: center;
}
body{
  width: 100%;
  background-color: whitesmoke;
  min-height: 200%;
  margin: 0;
  font-family: "Calibri";
  font-size: 22px;
  color: black;
}

footer.foot{

  float: top;
  background-color: #87CEFA;
  width: 100%;
  padding-bottom: 1% ;
}

html {
  min-height: 100%;
  margin: 0;
}
#para{
  text-align: center;
  background-color: whitesmoke;
  padding: 30px ;
}

section.de{

  font-family: "Calibri";
  font-size: 22px;
text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;




}



div.bar {background-color:  #87CEFA;}
div a {
  text-decoration: none;
  color: black;
  display:inline-block;
  text-align: center;
  padding: 14px 16px;
  font-weight: bold;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: white;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
  background: white;
}
ul li ul li {
  background: #ddd;
  display: block;
  width:277px;margin:0 auto;
}
ul li ul li a {display:block !important;}
ul li ul li:hover {background: white;}

a:hover{background: white;}



{
  box-sizing: border-box;
}
/* Set additional styling options for the columns*/
div.column {
  float: left;
  width: 50%;

}

div.row:after {
  content: "";
  display: table;
  clear: both;
}


