


<html>

<body>

<br>
<h1 style="font-family: Copperplate">Fresh Produce Forecasts</h1>
<p style="font-family: Papyrus">A versatile application for price and yield forecasts.</p>



<a class="head-navbar" >

</a>



<ul>
  <li><a routerLink='/' routerLinkActive="active">HOME</a></li>
  <li><a routerLink='/interpolation' routerLinkActive="active">INTERPOLATION</a></li>
  <li><a routerLink='/simcheck' routerLinkActive="active">SIMILARITY CHECK</a></li>
  <li><a routerLink='/forecast' routerLinkActive="active">FORECASTING</a></li>

</ul>

<router-outlet></router-outlet>

<section  class="de" *ngIf="isHomeRoute()">
  <p1 style="background-color: gold" > This Application provides with the County level Price and Yield Forecasts of Fresh Produce (FP) in United States. It uses satellite
    images, station based data for weather and soil or both as inputs for a particular county to complex Deep Learning (DL)
    models to forecast the price and yield values of FP with minimal errors. This application can provide the forecasts for any county
  across the United States. Apart from the forecasts, this application also helps in the interpolation of the time series with missing values and
  also helps in comparing two or more time series by performing the similarity check.</p1>
  <section class="des" *ngIf="isHomeRoute()">
  </section>
</section>


</body>

<footer class="foot">
  <br>
  <br>
  <p style="font-family: 'Times New Roman'">Center for Pattern Analysis and Machine Intelligence <br>
    University of Waterloo, Waterloo, ON, CA <br>
    <a href="mailto:m38chaud@uwaterloo.ca">mohita.chaudhary@uwaterloo.ca</a></p>

</footer>

</html>
