h2.c1
{
  display: block;
  text-align: center;
  font-family: "Times New Roman";
  font-size: 25px;
  font-style: normal;
  clear: both;

}
form.c1{
  display: block;
  text-align: center;
  font-family: "Times New Roman";
  font-size: 25px;
  font-style: normal;
  clear: both;
}







section.hig{
font-size: 25px;
  padding-right: 40%;
  padding-left: 40%;
  text-align: center;

}

