<div class="chart-wrapper">
  <!--<button (click)="getchart()" type="button" class="btn btn-success"  >Generate Chart</button>-->

  <div *ngIf="flag" style="display: grid;"  >
    <p>Graph for Forecasted Values</p>
    <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
    </canvas>
  </div>
</div>
